{% extends 'layout.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<br>
		<div class="col-md-12">
			<div class="well">
				<div class="row">
					<div class="col-md-2 col-md-offset-8">
						<p><a href="#">Inicia sesión</a></p>
					</div>
					<div class="col-md-2">
						<p><a href="/usuario/new">Registrate aquí</a></p>						
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
				        <form action='.' method='post'>{% csrf_token %}
    						<label for="username">User name:</label>
    						<input type="text" name="username" value="" id="username">
    						<label for="password">Password:</label>
    						<input type="password" name="password" value="" id="password"> 
    						<input type="submit" value="login" action={{views.iniciarsesion}}/>
    						<input type="hidden" name="next" value="{{ next|escape }}" />
  						<form action='.' method='post'>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}
